// 基本設定
body {
  @apply text-16;
  line-height: 20px;
}
input {
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    @apply text-gray-400;
  }
}

a {
  &:hover {
    @apply text-green-light transition;
  }
}

// 常用自訂class

.bgc-green {
  background: linear-gradient(155.4deg, #78e389 0.2%, #1eb893 90.81%);
}

.center-center {
  @apply flex justify-center items-center;
}

.letter-spacing {
  &--lg {
    letter-spacing: 0.03em;
  }
  &--r {
    letter-spacing: 0.1em;
  }
}

.pointer {
  cursor: pointer;
}

.btn-action {
  width: fit-content;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  @apply bg-green rounded-full text-white text-14;
  &.--lg {
    height: 45px;
  }
  &:hover {
    @apply shadow-md;
  }
}

// loading 動畫
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  border-radius: 5px;

  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: loader 1.6s infinite ease-in-out;
    animation: loader 1.6s infinite ease-in-out;
  }

  .loader {
    @apply text-green;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }

  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loader:after {
    left: 3.5em;
  }
}

@-webkit-keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

// transition 動畫

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
