body {
  @apply text-15;
}
input {
  &:focus-visible {
    outline: none;
  }
  &::placeholder {
    @apply text-gray-400;
  }
}

a {
  &:hover {
    @apply text-green-light transition
  }
}

.bgc-green {
  background: linear-gradient(155.4deg, #78E389 0.2%, #1EB893 90.81%);
}

.center-center {
  @apply flex justify-center items-center;
}

.letter-spacing {
  &--lg {
    letter-spacing: 0.03em;
  }
  &--r {
    letter-spacing: 0.1em;
  }
}